<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>cv_Creater</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>info</servlet-name>
    <jsp-file>/info.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>info</servlet-name>
    <url-pattern>/Information</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>choose</servlet-name>
    <jsp-file>/choose.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>choose</servlet-name>
    <url-pattern>/ChooseTemplate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <jsp-file>/Login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Profile</servlet-name>
    <jsp-file>/Profile.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/ServiceProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>password_reset</servlet-name>
    <jsp-file>/password_reset.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>password_reset</servlet-name>
    <url-pattern>/password_reset</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>verify</servlet-name>
    <jsp-file>/verify.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>verify</servlet-name>
    <url-pattern>/verify_pin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>quick_cv</servlet-name>
    <jsp-file>/quick_cv.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>quick_cv</servlet-name>
    <url-pattern>/Quick_Cv_Information</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>quick_cv_save</servlet-name>
    <jsp-file>/quick_cv_save.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>quick_cv_save</servlet-name>
    <url-pattern>/Quick_Cv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditProfile</servlet-name>
    <jsp-file>/EditProfile.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfile</servlet-name>
    <url-pattern>/Edit_Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>open_file</servlet-name>
    <jsp-file>/open_file.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>open_file</servlet-name>
    <url-pattern>/open_file</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>email_reset</servlet-name>
    <jsp-file>/email_reset.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>email_reset</servlet-name>
    <url-pattern>/email_reset</url-pattern>
  </servlet-mapping>
</web-app>